<style type="text/css">

	#container {
		margin-top: 10%;
	}

	#img {
		width: 50%;
		display: block;
		margin: 2% auto;
	}

	#items {
		margin-top: 10%;
	}

	#item {
		margin: 3% auto;
	}

	body {
		background: #e0e0e0;
	}

	#item-title {
		text-align: center;
	}

	#show-item {
		text-align: center;
		float: right;
		margin-bottom: 3%;
	}

	#pc {
		margin-top: 5%;
	}

	#isdigit {
		padding: 1% 2%;
		background: lightgreen;
		width: 50%;
		text-align: center;
		color: green;
		border: green solid 1px;
		display: block;
		margin: 5% auto;
		border-radius: 5px;
	}

	#notdigit {
		padding: 1% 2%;
		background: pink;
		width: 50%;
		text-align: center;
		color: red;
		border: red solid 1px;
		display: block;
		margin: 5% auto;
		border-radius: 5px;
	}

	#disable {
		background: grey;
		color: white;
	}

	#date {
		text-align: right;
		font-weight: 500;
		padding: 3.5% 0;
	}

	footer {
		margin-top: 2.5%;
	}

	ul.errorlist {
		margin: 0;
		padding: 0;
	}

	ul.errorlist li{
		border: 1px solid red;
		color: red;
		background: rgba(255, 0, 0, 0.2);
		list-style-position: inside;
		display: block;
		font-size: 1.2em;
		margin: 0 0 3px;
		padding: 4px 5px;
		text-align: center;
		border-radius: 3px;
	}

	input, textarea {
		width: 100%;
		padding: 5px !important;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(150, 150, 150);
		-webkit-box-sizing: border-box;
		-moz--box-sizing: border-box;
		margin-left: 5%;
	}

	input {
		height: 30px;
	}


	#form {
		margin-top: 10%;
		margin-left: 20%;
	}

	#dpitem {
		text-align: center;
	}

	#logout {
		margin-left: 2%;
		margin-top: 10%;
	}

	#piar {
		margin-top: 10%;
		margin-left: 25%;
	}

	#loglink {
		color: blue;
		text-decoration: underline;
	}

	#regsuccess {
		background-color: rgba(0, 160, 0, 0.22);
		padding: 10% 0;
		text-align: center;
		color: green;
		border: 1px solid green;
		border-radius: 3px;
		width: 60%;
		margin: 6% auto;
		font-size: 120%;
	}


</style>